@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

.logo {
    display: inline-block;
    margin-left: 32px;
}

.li_crumbs {
    margin: 35px 56px 35px;
}

header nav li:first-of-type a {
    font-size: 13px;
}

header nav li:first-of-type {
    margin-right: 24px;
}

header nav li a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: inline-block;
}

header nav li {
    margin-left: 32px;
}

header nav li:last-of-type {
    background-color: #FFFFFF;
    padding: 9px 20px 13px;
    border-radius: 14px;
}

header nav li:last-of-type a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

header nav ul li:nth-child(2):after {
    content: ">";
    display: inline-block;
    font-size: 20px;
    color: white;
    transform: rotate(90deg);
    margin-left: 10px;
    margin-top: 3px;
}

.Aperture_Studios {
    background-image: url('../images/IMAGE.svg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 71px;
    text-align: center;
    position: relative;
}

.Aperture_Studios .container {
    margin: inherit;
    max-width: 580px;
}
.Aperture_Studios .container h3 {
    position: relative;
    animation: h3animation 3s infinite;
}
@keyframes h3animation {
    0% {
        letter-spacing: 1px;
    }
    20% {
        letter-spacing: 2px;
    }
    50% {
        letter-spacing: 5px;
    }
    70% {
        letter-spacing: 3px;
    }
    90% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 1px;
    }
}
.Aperture_Studios h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin: 0;
}

.Aperture_Studios h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 0;
}

.Aperture_Studios p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin: 0;
}

.list_item {
    position: absolute;
    right: 40px;
    bottom: 46px;
    display: flex;
    list-style: none;
}
.list_item li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.list_item li:before{
    content: "";
    display: inline-block;
    background-image: url("../Images/icon_01.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}
.list_item li:nth-child(2):before{
    background-image: url("../images/icon_02.svg");
}
.list_item li:nth-child(3):before{
    background-image: url("../images/icon_03.svg");
    width: 32px;
}
.list_item li:last-of-type:before{
    background-image: url("../images/icon_04.svg");
    width: 10px;
}
.sunset{
    background-image: url('../images/IMAGE_2.svg');
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    position: relative;
}


.sunset .container {
    margin: inherit;
    max-width: 580px;
    text-align: center;

    justify-content: end;
}


.sunset h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: revert;
    color: #C0C0C0;
    margin: 0;
    text-align: left;
    justify-content: inherit;
    margin-right: 62px;


}
.sunset p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-right: 62px;
    max-width: 298px;
    justify-content: center;
    text-align: left;
}
.list_item_2 {
    position: absolute;
    right: 40px;
    bottom: 46px;
    display: flex;
    list-style: none;
}
.list_item_2 li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.list_item_2 li:before{
    content: "";
    display: inline-block;
    background-image: url("../Images/icon_01.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}
.list_item_2 li:nth-child(2):before{
    background-image: url("../images/icon_02.svg");
}
.list_item_2 li:nth-child(3):before{
    background-image: url("../images/icon_03.svg");
    width: 32px;
}
.list_item_2 li:last-of-type:before{
    background-image: url("../images/icon_04.svg");
    width: 10px;
}
.gear_cage{
    background-color: black;
    background-image: url("../images/IMAGE_3.svg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    position: relative;
}
.gear_cage .container {
    margin: inherit;
    max-width: 580px;
    text-align: center;

    justify-content: end;
}
.gear_cage h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: revert;
    color: #C0C0C0;
    margin: 0;
    text-align: left;
    justify-content: inherit;
    margin-right: 62px;
}
.gear_cage p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-right: 62px;
    max-width: 298px;
    justify-content: center;
    text-align: left;
}
.list_item_2 {
    position: absolute;
    right: 40px;
    bottom: 46px;
    display: flex;
    list-style: none;
}
.list_item_2 li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.list_item_2 li:before{
    content: "";
    display: inline-block;
    background-image: url("../Images/icon_01.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}
.list_item_2 li:nth-child(2):before{
    background-image: url("../images/icon_02.svg");
}

.list_item_2 li:nth-child(3):before{
    background-image: url("../images/icon_03.svg");
    width: 32px;
}
.list_item_2 li:last-of-type:before {
    background-image: url("../images/icon_04.svg");
    width: 10px;
}
.p-clients{
   padding-top: 113px;
    height: 80vh;
    margin: auto;
    background-color: black;
}
.p-clients.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: auto;
    max-width: 1200px;
    align-items: center;

}

.p-clients h2{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #C0C0C0;
}
.p-clients h3{
    font-family: 'Poppins', sans serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.container_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;

}
.client{
    display: inline-block;
    max-width: 128px;
}
.owl-item{
    text-align: center;
}
.owl-stage{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.owl-nav .owl-prev:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f053";
    color: #FFFFFF;
    font-size: 30px;
}
.owl-nav .owl-next:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f054";
    color: #FFFFFF;
    font-size: 30px;
}
.owl-nav{
    display: flex;
    justify-content: space-between;

    width: 100%;

}
.star_fall{
    background-color: black;
    background-image: url("../images/IMAGE_4.svg");
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    position: relative;
}
.star_fall .container {
    margin: inherit;
    max-width: 580px;
    text-align: center;

    justify-content: end;
}
.star_fall h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    text-align: left;
    justify-content: inherit;
    margin-right: 119px;
}
.star_fall p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 119px;
    max-width: 241px;
    justify-content: center;
    text-align: left;
}
.list_item_3 {
    position: absolute;
    right: 40px;
    bottom: 46px;
    display: flex;
    list-style: none;
}
.list_item_3 li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.list_item_3 li:before{
    content: "";
    display: inline-block;
    background-image: url("../Images/icon_01.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}
.list_item_3 li:nth-child(2):before{
    background-image: url("../images/icon_02.svg");
}

.list_item_3 li:nth-child(3):before{
    background-image: url("../images/icon_03.svg");
    width: 32px;
}
.list_item_3 li:last-of-type:before {
    background-image: url("../images/icon_04.svg");
    width: 10px;

}
.thetools{
    background-color: black;
    position: relative;
    min-height: 540px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.container_tools{
    max-width: 1100px;
    margin: auto;
    width: 100%;
}
.container_tools .m_w{
    max-width: 514px;
}
.button2{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding:10px 10px 10px 8px;
    align-items: center;
    display:inline-flex;
    color: black;


}
.thetools a::before{
    content: "";
    background-color: black;
    border-radius: 13px;
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 6px;

}
.tools3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 514px;

}
.tools2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 514px;
}
.tools{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.image{
    max-width: 720px;
    position: absolute;
    right: 0;
    top: 0;

}
.image img{
    display: block;
    width: 100%;
}
.what_we_do{
    background-color: black;
    padding: 113px 0  100px;
}
.what_we_do h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.what_we_do p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;

}
.d-flex_gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.d-flex_gallery .item{
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.d-flex_gallery .item img{
    display: block;
    width: 100%;
}
.d-flex_gallery .item .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.d-flex_gallery .item .description h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.d-flex_gallery .item .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    text-align: left;
    margin-bottom: -10px;
}
.d-flex_gallery .item .description a{
    display: inline-flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 10px 13px 12px;
    margin-top: 22px;
}
.d-flex_gallery .item .description a:before{
    display: inline-block;
    content: '';
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
}
.need_help{
    background: black;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 108px;
    text-align: center;
}
.need_help h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 113px;
}
.need_help p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.need_help a{
    display: inline-flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 10px 13px 12px;
    margin-top: 22px;
}
.need_help a:before {
    display: inline-block;
    content: '';
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
}
footer .left_item a{
    display: inline-block;
    margin-bottom: 20px;
}
footer .left_item p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
footer{
    background-color: black;
    padding-top: 92px;
    padding-bottom: 104px ;
}
footer .right_item{
    display: flex;
}
footer .right_item li{
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    display: flex;
    justify-content: space-between;
    margin-left: 43px;
}
footer .right_item a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;

}
footer .right_item ul:first-of-type{
    margin-right: 55px;
}
.flex_container{
    border-bottom: solid 2px #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
footer .flex_container:last-of-type{
    border-bottom: none;
}


footer .form{
    background: #FFFFFF;
    padding: 11px 6px;
    border: none;
    border-radius: 11px;
    align-items: center;
    padding-left: 246px;
    padding-right: 5px;
    margin-bottom: 11px;


}
.button3{
    align-items: center;
    background: black;
    width: 63px;
    height: 30px;
    border-radius: 11px;


}
footer .input{
    border: none;
    background: transparent;
    padding-top: 11px;

}
footer .social {

    display: flex;
    justify-content: space-between;
    margin-left: 20px;

}